# learning python libraies PART 3
aNAND tIRKEY

In [2]:
import numpy as np
import platform
print(platform.python_version())
print(np.__version__)

3.7.4
1.18.1

# 1.indexing and slicing in array

### 1.1 single dimensional array(Vector indexing)

In [3]:
arr=np.arange(0,11)   #array index in python starts from zero.
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [4]:
print("element at index 3 is",arr[3])

element at index 3 is 3

In [5]:
print("element between index 2 and 7 are",arr[2:7])

element between index 2 and 7 are [2 3 4 5 6]

In [6]:
print("element upto 7th index are",arr[:7])

element upto 7th index are [0 1 2 3 4 5 6]

In [7]:
print("last 5 elements from backwards",arr[-5:])

last 5 elements from backwards [ 6  7  8  9 10]

In [8]:
print("listing elements backwars",arr[::-1])

listing elements backwars [10  9  8  7  6  5  4  3  2  1  0]

In [9]:
print("skiping every 2nd element",arr[::2])

skiping every 2nd element [ 0  2  4  6  8 10]

In [10]:
print("skiping every 2nd element backwards",arr[::-2])

skiping every 2nd element backwards [10  8  6  4  2  0]

In [11]:
print("element at index 3,5,9 is ",arr[[3,5,9]])  #method 1

element at index 3,5,9 is  [3 5 9]

In [12]:
list_index=[3,5,9]
list_index

[3, 5, 9]

In [13]:
print("element at index 3,5,9 is ",arr[list_index])  #method 2....pass a list of indices

element at index 3,5,9 is  [3 5 9]

In [14]:
list_index_4m_backwards=[-3,-5,-9]
list_index_4m_backwards

[-3, -5, -9]

In [15]:
print("element at index 3,5,9 is ",arr[list_index_4m_backwards])

element at index 3,5,9 is  [8 6 2]

### 1.2 multidimensional array(matrix index)

In [16]:
matrix=np.arange(0,12).reshape(3,4)   #array index in python starts from zero,zero.
matrix

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [17]:
print("element at index 0,0 is",matrix[0,0])

element at index 0,0 is 0

In [18]:
print("element at index 1,2 is",matrix[1,2])

element at index 1,2 is 6

In [19]:
print("all elements in 1st row",matrix[1])

all elements in 1st row [4 5 6 7]

In [20]:
print("all elements in 2nd column",matrix[:,2])

all elements in 2nd column [ 2  6 10]

In [21]:
print("all elements till 2nd row",matrix[:2])

all elements till 2nd row [[0 1 2 3]
 [4 5 6 7]]

In [22]:
print("all elements in last row",matrix[-1])

all elements in last row [ 8  9 10 11]

In [23]:
print("all elements in 2nd last column",matrix[:,-2])

all elements in 2nd last column [ 2  6 10]

In [24]:
print(" elements at (1,2),(1,3)",matrix[(1,2),(1,3)])

 elements at (1,2),(1,3) [ 5 11]

# 2. replace an element in specific index

In [25]:
matrix[0,0] = 12
matrix

array([[12,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

# 3. inserting element in array

In [76]:
arr1=np.arange(1,21)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

### note:insert index starts for 0

In [77]:
np.insert(arr1,1,21)   #shows how array will look after insertion but its actualy not inserted

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [78]:
arr1    #but its actualy not inserted!!!

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [79]:
arr1=np.insert(arr1,1,21)  #element 21 is inserted after 1(its actually at index 1)  and saved in array
arr1

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

### note:reshaping index starts from 1

In [80]:
arr1=np.reshape(arr1,(7,3))
arr1

array([[ 1, 21,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

# 4.1 flatteninig the array (original array is not affected by changes made here.)

In [81]:
arr1.flatten()

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [82]:
arr1

array([[ 1, 21,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [83]:
arr1=arr1.flatten()     #flaten makes array 1-dimensional
arr1

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

# 4.2 ravel (memory efficient and changes are refelcted in parent array  )

In [84]:
arr1=np.reshape(arr1,(7,3))
arr1

array([[ 1, 21,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [85]:
arr1.ravel()

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [86]:
arr1

array([[ 1, 21,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [87]:
arr1=arr1.ravel()
arr1

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

# 5.sorting array in accending order

In [88]:
arr1.sort()
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

# 6.making an array of shape 3x7 into 4x8

# 6.1 using np.resize

In [102]:
arr6=np.arange(1,22).reshape(3,7)
arr6

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

In [103]:
arr6=np.resize(arr6,(4,8))
arr6

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21,  1,  2,  3],
       [ 4,  5,  6,  7,  8,  9, 10, 11]])

###  ...specific elements need to inserted at each index will have to be done manually

# 6.2 by inserting elemets in flattend array and reshaping(Easiest and convienient method)

In [74]:
arr1=np.insert(arr1,21,[22,23,24,25,26,27,28,29,30,31,32])  #element 21 is inserted after 1(its actually at index 1)  and saved in array
arr1

array([ 1, 21,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32])

In [36]:
arr1=np.reshape(arr1,(4,8))
arr1

array([[ 1,  2, 21,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32]])

# 6.3 inserting element using axis parameter of insert (lengthy)

In [37]:
arr2=np.arange(1,22)
arr2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [38]:
arr2=np.reshape(arr2,(3,7))
arr2

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

In [39]:
np.insert(arr2, [1,3,7], [99,98,97], axis=1)  #inserted at specific index and specific elements but whole column or row is same depending on axis

array([[ 1, 99,  2,  3, 98,  4,  5,  6,  7, 97],
       [ 8, 99,  9, 10, 98, 11, 12, 13, 14, 97],
       [15, 99, 16, 17, 98, 18, 19, 20, 21, 97]])

In [40]:
arr2

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

In [41]:
arr2=np.insert(arr2, [1], [0], axis=1)
arr2

array([[ 1,  0,  2,  3,  4,  5,  6,  7],
       [ 8,  0,  9, 10, 11, 12, 13, 14],
       [15,  0, 16, 17, 18, 19, 20, 21]])

In [42]:
arr2=np.insert(arr2, [1], [0], axis=0)
arr2

array([[ 1,  0,  2,  3,  4,  5,  6,  7],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  0,  9, 10, 11, 12, 13, 14],
       [15,  0, 16, 17, 18, 19, 20, 21]])

###  ...elements needs to inserted at each index therefore lengthy

# 6.4 using append to make 3x7 array into 4x8 array(dimensions aahgh!.. )

In [43]:
arr3=np.arange(1,22)
arr3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [44]:
arr3=np.reshape(arr3,(3,7))
arr3

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

In [45]:
new_row=np.arange(22,29)      #new array to be addded to row of arr3
new_row

array([22, 23, 24, 25, 26, 27, 28])

### Note: axis=0-->row ; axis=1-->column

In [89]:
arr3=np.append(arr3,new_row,axis=0)   #dimension mismatch...use "[square brackets] to balance
arr3

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [90]:
arr3=np.append(arr3,[new_row],axis=0)   #new array to be addded to column of arr3
arr3

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21],
       [22, 23, 24, 25, 26, 27, 28]])

In [91]:
new_column=np.arange(29,33)
new_column

array([29, 30, 31, 32])

In [92]:
new_column=np.reshape(new_column,(4,1))
new_column

array([[29],
       [30],
       [31],
       [32]])

In [93]:
arr3=np.append(arr3,[new_column],axis=1)     #dimension mismatch...use "[square brackets] to balance
arr3

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 3 dimension(s)

In [94]:
arr3=np.append(arr3,new_column,axis=1)
arr3

array([[ 1,  2,  3,  4,  5,  6,  7, 29],
       [ 8,  9, 10, 11, 12, 13, 14, 30],
       [15, 16, 17, 18, 19, 20, 21, 31],
       [22, 23, 24, 25, 26, 27, 28, 32]])

In [95]:
arr3.sort()
arr3

array([[ 1,  2,  3,  4,  5,  6,  7, 29],
       [ 8,  9, 10, 11, 12, 13, 14, 30],
       [15, 16, 17, 18, 19, 20, 21, 31],
       [22, 23, 24, 25, 26, 27, 28, 32]])

# 7.put

In [51]:
arr2=np.insert(arr2, [4], [0], axis=1)   #inserting 0's in 4th column
arr2

array([[ 1,  0,  2,  3,  0,  4,  5,  6,  7],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  0,  9, 10,  0, 11, 12, 13, 14],
       [15,  0, 16, 17,  0, 18, 19, 20, 21]])

In [52]:
np.put(arr2, [1, 4], [11, 44])    #indexing works in flatend array.
arr2                              #changing values of 1st and 4th index....only works in 1st row because of indexing therefor... flaten the array before puting

array([[ 1, 11,  2,  3, 44,  4,  5,  6,  7],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  0,  9, 10,  0, 11, 12, 13, 14],
       [15,  0, 16, 17,  0, 18, 19, 20, 21]])

# 8.deleting(array at specific index)

In [53]:
arr5=np.arange(1,22)
arr5

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [54]:
arr5=np.delete(arr5,[3,6,9])    #element at index 3,6,9 are deleted index starts frpom 0
arr5

array([ 1,  2,  3,  5,  6,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21])

In [55]:
arr5=np.reshape(arr5,(3,6))
arr5

array([[ 1,  2,  3,  5,  6,  8],
       [ 9, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21]])

In [56]:
arr5=np.delete(arr5,1, axis=0)    #row 1 is deleted are deleted index starts from 0
arr5

array([[ 1,  2,  3,  5,  6,  8],
       [16, 17, 18, 19, 20, 21]])

In [57]:
arr5=np.delete(arr5,4, axis=1)    #column 4 is deleted are deleted index starts from 0
arr5

array([[ 1,  2,  3,  5,  8],
       [16, 17, 18, 19, 21]])

# 9. Splitting

In [120]:
arr5=arr5.flatten()
arr5

array([ 1,  2,  3,  5,  8, 16, 17, 18, 19, 21])

In [121]:
arr5=np.insert(arr5,10,[30,31,32,33,34])
arr5

array([ 1,  2,  3,  5,  8, 16, 17, 18, 19, 21, 30, 31, 32, 33, 34])

In [124]:
x1,x2,x3=np.split(arr5,[5,10])
print(x1,x2,x3)

[1 2 3 5 8] [16 17 18 19 21] [30 31 32 33 34]

In [125]:
matrix2 = np.arange(16).reshape((4, 4))
matrix2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [130]:
frst_half,secnd_half =np.vsplit(matrix2,[3])  #row-wise split in [3 rows/1 row]
frst_half

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [131]:
secnd_half

array([[12, 13, 14, 15]])

In [134]:
lft_prt, rght_prt = np.hsplit(matrix, [1]) #column-wise split in [1 column/3 column]
lft_prt

array([[12],
       [ 4],
       [ 8]])

In [135]:
rght_prt

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11]])

# 10.Concatenation

In [138]:
np.concatenate([x1,x2,x3])  #array rejoined

array([ 1,  2,  3,  5,  8, 16, 17, 18, 19, 21, 30, 31, 32, 33, 34])

In [142]:
np.concatenate([frst_half,secnd_half],axis=0)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [143]:
np.concatenate([lft_prt,rght_prt],axis=-1)

array([[12,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

# 11.vstack

In [144]:
np.vstack([frst_half,secnd_half])

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

# 12.hstack

In [145]:
np.hstack([lft_prt,rght_prt])

array([[12,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

# 13.remove redundent dimensions

In [146]:
array_3d= np.array([[[1,2,4],[2,2,4]]])
array_3d

array([[[1, 2, 4],
        [2, 2, 4]]])

In [148]:
print("array_3d dimension: ", array_3d.ndim)

array_3d dimension:  3

In [147]:
squeezed=array_3d.squeeze()
squeezed

array([[1, 2, 4],
       [2, 2, 4]])

In [149]:
print("squeezed dimension: ", squeezed.ndim)

squeezed dimension:  2

# 14.Broadcasting

### Broadcasting allows addition, subtraction, multiplication, etc. on arrays of different sizes.

### 1.If the arrays don't have the same rank then prepend the shape of the lower rank array with 1s until both shapes have the same length.

### 2.The two arrays are compatible in a dimension if they have the same size in the dimension or if one of the arrays has size 1 in that dimension.

### 3.The arrays can be broadcast together iff they are compatible with all dimensions.

### 4.After broadcasting, each array behaves as if it had shape equal to the element-wise maximum of shapes of the two input arrays.

### 5.In any dimension where one array had size 1 and the other array had size greater than 1, the first array behaves as if it were copied along that dimension.

In [158]:
M = np.ones((2, 3))
a = np.arange(2)
print(M)

[[1. 1. 1.]
 [1. 1. 1.]]

In [159]:
print(a)

[0 1]

In [161]:
M - a

ValueError: operands could not be broadcast together with shapes (2,3) (2,)

In [163]:
a = np.arange(3)
print(a)

[0 1 2]

In [164]:
M - a

array([[ 1.,  0., -1.],
       [ 1.,  0., -1.]])

In [165]:
A = np.array([ [11, 12, 13],
               [21, 22, 23],
               [31, 32, 33] ])
B = np.array([1, 2, 3])

In [166]:
print("Addition with broadcasting: ")
print(A + B)

Addition with broadcasting:
[[12 14 16]
 [22 24 26]
 [32 34 36]]

In [167]:
print("Multiplication with broadcasting: ")
print(A * B)

Multiplication with broadcasting:
[[11 24 39]
 [21 44 69]
 [31 64 99]]

# ....continued in part 4

In [168]:
!nvidia-smi

Sun Mar 08 18:14:21 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 441.87       Driver Version: 441.87       CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX 1050   WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   40C    P8    N/A /  N/A |     77MiB /  4096MiB |      1%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+