# learning python libraies PART 13
aNAND tIRKEY

In [1]:
import numpy as np
import platform
import matplotlib as mpl                   #importing libraries
import matplotlib.pylab as plt
print(platform.python_version())
print(np.__version__)
print(mpl.__version__)
print(plt.__version__)

3.7.4
1.18.1
3.1.3
1.18.1

In [2]:
import pandas as pd                   #importing library
print(pd.__version__)

1.0.0

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.0
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.1.0.post20200127
Cython           : 0.29.14
pytest           : 5.3.5
hypothesis       : 5.4.1
sphinx           : 2.3.1
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

# 1. Importing datasets
    CSV file 
    JSON file
    HTML file
    excel file
    hdf file
    pickel file
    feather file
    latex file

In [4]:
pd.read_csv('data_set/test_set_1.csv') #was saved with index, earlier in part12! so index can be seen as seprate column.

   Unnamed: 0          states    area  population  density  gender ratio
0           0   Uttar Pradesh  240928   199812341      828         0.879
1           1     Maharashtra  307713   112372972      365         0.878
2           2           Bihar   94163   103804637     1102         0.916
3           3     West Bengal   88752    91347736     1029         0.951
4           4  Madhya Pradesh  308245    72597565      236         0.919
5           5      Tamil Nadu  130058    72138958      555         0.911
6           6       Rajasthan  342239    68621012      201         0.861
7           7       Karnataka  191791    61130704      319         0.939
8           8          Gujrat  196024    60383628      308         0.854
9           9  Andhra Pradesh  162968    49386799      303         0.918

In [5]:
pd.read_json('data_set/test_set_1.json')

           states    area  population  density  gender ratio
0   Uttar Pradesh  240928   199812341      828         0.879
1     Maharashtra  307713   112372972      365         0.878
2           Bihar   94163   103804637     1102         0.916
3     West Bengal   88752    91347736     1029         0.951
4  Madhya Pradesh  308245    72597565      236         0.919
5      Tamil Nadu  130058    72138958      555         0.911
6       Rajasthan  342239    68621012      201         0.861
7       Karnataka  191791    61130704      319         0.939
8          Gujrat  196024    60383628      308         0.854
9  Andhra Pradesh  162968    49386799      303         0.918

In [6]:
pd.read_html('data_set/test_set_1.html')

[   Unnamed: 0          states    area  population  density  gender ratio
 0           0   Uttar Pradesh  240928   199812341      828         0.879
 1           1     Maharashtra  307713   112372972      365         0.878
 2           2           Bihar   94163   103804637     1102         0.916
 3           3     West Bengal   88752    91347736     1029         0.951
 4           4  Madhya Pradesh  308245    72597565      236         0.919
 5           5      Tamil Nadu  130058    72138958      555         0.911
 6           6       Rajasthan  342239    68621012      201         0.861
 7           7       Karnataka  191791    61130704      319         0.939
 8           8          Gujrat  196024    60383628      308         0.854
 9           9  Andhra Pradesh  162968    49386799      303         0.918]

In [7]:
pd.read_excel('data_set/test_set_1.xlsx')

   Unnamed: 0          states    area  population  density  gender ratio
0           0   Uttar Pradesh  240928   199812341      828         0.879
1           1     Maharashtra  307713   112372972      365         0.878
2           2           Bihar   94163   103804637     1102         0.916
3           3     West Bengal   88752    91347736     1029         0.951
4           4  Madhya Pradesh  308245    72597565      236         0.919
5           5      Tamil Nadu  130058    72138958      555         0.911
6           6       Rajasthan  342239    68621012      201         0.861
7           7       Karnataka  191791    61130704      319         0.939
8           8          Gujrat  196024    60383628      308         0.854
9           9  Andhra Pradesh  162968    49386799      303         0.918

In [8]:
dframe1=pd.read_hdf('data_set/test_set_1.h5')
dframe1

           states    area  population  density  gender ratio
0   Uttar Pradesh  240928   199812341      828         0.879
1     Maharashtra  307713   112372972      365         0.878
2           Bihar   94163   103804637     1102         0.916
3     West Bengal   88752    91347736     1029         0.951
4  Madhya Pradesh  308245    72597565      236         0.919
5      Tamil Nadu  130058    72138958      555         0.911
6       Rajasthan  342239    68621012      201         0.861
7       Karnataka  191791    61130704      319         0.939
8          Gujrat  196024    60383628      308         0.854
9  Andhra Pradesh  162968    49386799      303         0.918

In [9]:
pd.read_pickle('data_set/test_set_1.pkl')

           states    area  population  density  gender ratio
0   Uttar Pradesh  240928   199812341      828         0.879
1     Maharashtra  307713   112372972      365         0.878
2           Bihar   94163   103804637     1102         0.916
3     West Bengal   88752    91347736     1029         0.951
4  Madhya Pradesh  308245    72597565      236         0.919
5      Tamil Nadu  130058    72138958      555         0.911
6       Rajasthan  342239    68621012      201         0.861
7       Karnataka  191791    61130704      319         0.939
8          Gujrat  196024    60383628      308         0.854
9  Andhra Pradesh  162968    49386799      303         0.918

##### pd.read_    ('data_set/test_set_1.tex')   #unfortunatly there is no function in pandas to read latex tables directly.

In [10]:
from astropy.table import Table    #we can read tex file by using table module.
tab = Table.read('data_set/test_set_1.tex').to_pandas()
tab

   col0          states    area  population  density  gender ratio
0     0   Uttar Pradesh  240928   199812341      828         0.879
1     1     Maharashtra  307713   112372972      365         0.878
2     2           Bihar   94163   103804637     1102         0.916
3     3     West Bengal   88752    91347736     1029         0.951
4     4  Madhya Pradesh  308245    72597565      236         0.919
5     5      Tamil Nadu  130058    72138958      555         0.911
6     6       Rajasthan  342239    68621012      201         0.861
7     7       Karnataka  191791    61130704      319         0.939
8     8          Gujrat  196024    60383628      308         0.854
9     9  Andhra Pradesh  162968    49386799      303         0.918

![title](pic/img17.png "import export cheetsheet")

# 2. Indexing

##### Indexes are sort of address, with which data in the dataframe or series can be accessed.
##### Rows and columns both have indexes, rows indices are called as index 
##### Columns are general known by there column names in dataframe.
##### column name in series are just known by name

### 2.1.1 index can be auto-genrated as well as can be defined manually

In [11]:
series0=pd.Series(range(99999999), name='data')   # an example of auto-indexing, data here is label to column.

In [12]:
series0.index #index label

RangeIndex(start=0, stop=99999999, step=1)

In [13]:
series0.name #column label

'data'

##### Any array or other sequence of labels used when constructing a Series or DataFrame is internally converted to an Index

In [14]:
series1=pd.Series(range(7), index=['a', 'b', 'c','d','e','f','h'])  # an example of custom indexing
series1

a    0
b    1
c    2
d    3
e    4
f    5
h    6
dtype: int64

#####  display index

In [15]:
series1.index #index label

Index(['a', 'b', 'c', 'd', 'e', 'f', 'h'], dtype='object')

In [16]:
series1.index[2:6]

Index(['c', 'd', 'e', 'f'], dtype='object')

##### Index objects are immutable and thus can’t be modified by the user but can be reindexed ref:2.3

In [17]:
series1.index[7]='g'

TypeError: Index does not support mutable operations

##### Immutability is important so that Index objects can be safely shared among data structures

### 2.1.2 dataframe index

In [18]:
dframe1.head() # head() shows top few part of data set

           states    area  population  density  gender ratio
0   Uttar Pradesh  240928   199812341      828         0.879
1     Maharashtra  307713   112372972      365         0.878
2           Bihar   94163   103804637     1102         0.916
3     West Bengal   88752    91347736     1029         0.951
4  Madhya Pradesh  308245    72597565      236         0.919

In [19]:
dframe1.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [20]:
dframe1.columns

Index(['states', 'area', 'population', 'density', 'gender ratio'], dtype='object')

In [21]:
dframe1.shape

(10, 5)

### 2.2 What are indexes for?
##### 1. Identification -- each value is identified by there row numbers or column names
##### 2. filtering
##### 3. Replacing index with one of its columns
##### 4. Alignment
##### 5.  Selection

### 2.2.1. Identification -->each value is identified by there row numbers or column names

In [22]:
dframe1 # value "Madhya Pradesh" is identified by column name "states" and index 4

           states    area  population  density  gender ratio
0   Uttar Pradesh  240928   199812341      828         0.879
1     Maharashtra  307713   112372972      365         0.878
2           Bihar   94163   103804637     1102         0.916
3     West Bengal   88752    91347736     1029         0.951
4  Madhya Pradesh  308245    72597565      236         0.919
5      Tamil Nadu  130058    72138958      555         0.911
6       Rajasthan  342239    68621012      201         0.861
7       Karnataka  191791    61130704      319         0.939
8          Gujrat  196024    60383628      308         0.854
9  Andhra Pradesh  162968    49386799      303         0.918

### 2.2.2 Filtering

In [23]:
zone=pd.Series(['central zone','western zone','eastern zone','eastern zone','central zone','southern zone','northern zone','southern zone','western zone','southern zone'])
zone

0     central zone
1     western zone
2     eastern zone
3     eastern zone
4     central zone
5    southern zone
6    northern zone
7    southern zone
8     western zone
9    southern zone
dtype: object

##### dframe1['zone'] ---- autmatically adds new column which is identified as "zone".

In [24]:
dframe1['zone']=zone #autmatically adds new column which is identified as zone and values are assigned according to INDEX aka Alignment property.
dframe1

           states    area  population  density  gender ratio           zone
0   Uttar Pradesh  240928   199812341      828         0.879   central zone
1     Maharashtra  307713   112372972      365         0.878   western zone
2           Bihar   94163   103804637     1102         0.916   eastern zone
3     West Bengal   88752    91347736     1029         0.951   eastern zone
4  Madhya Pradesh  308245    72597565      236         0.919   central zone
5      Tamil Nadu  130058    72138958      555         0.911  southern zone
6       Rajasthan  342239    68621012      201         0.861  northern zone
7       Karnataka  191791    61130704      319         0.939  southern zone
8          Gujrat  196024    60383628      308         0.854   western zone
9  Andhra Pradesh  162968    49386799      303         0.918  southern zone

In [25]:
filter1=dframe1.zone=='southern zone' #filtering states which belongs to southern zone

##### filter is a keyword thus cannot be used as variable names

In [26]:
dframe1[filter1]  #this alows to identify rows with specific/common values and filter them

           states    area  population  density  gender ratio           zone
5      Tamil Nadu  130058    72138958      555         0.911  southern zone
7       Karnataka  191791    61130704      319         0.939  southern zone
9  Andhra Pradesh  162968    49386799      303         0.918  southern zone

### 2.2.3 Replacing index with one of its columns

In [27]:
copy=dframe1
copy.head()

           states    area  population  density  gender ratio          zone
0   Uttar Pradesh  240928   199812341      828         0.879  central zone
1     Maharashtra  307713   112372972      365         0.878  western zone
2           Bihar   94163   103804637     1102         0.916  eastern zone
3     West Bengal   88752    91347736     1029         0.951  eastern zone
4  Madhya Pradesh  308245    72597565      236         0.919  central zone

##### let selected column be states

In [28]:
copy.set_index('states') #replaces index, states(selected column) acts as new index

                  area  population  density  gender ratio           zone
states
Uttar Pradesh   240928   199812341      828         0.879   central zone
Maharashtra     307713   112372972      365         0.878   western zone
Bihar            94163   103804637     1102         0.916   eastern zone
West Bengal      88752    91347736     1029         0.951   eastern zone
Madhya Pradesh  308245    72597565      236         0.919   central zone
Tamil Nadu      130058    72138958      555         0.911  southern zone
Rajasthan       342239    68621012      201         0.861  northern zone
Karnataka       191791    61130704      319         0.939  southern zone
Gujrat          196024    60383628      308         0.854   western zone
Andhra Pradesh  162968    49386799      303         0.918  southern zone

In [29]:
copy.head()  #but no change!!!

           states    area  population  density  gender ratio          zone
0   Uttar Pradesh  240928   199812341      828         0.879  central zone
1     Maharashtra  307713   112372972      365         0.878  western zone
2           Bihar   94163   103804637     1102         0.916  eastern zone
3     West Bengal   88752    91347736     1029         0.951  eastern zone
4  Madhya Pradesh  308245    72597565      236         0.919  central zone

In [30]:
copy.set_index('states', inplace=True)  #replaces index, states acts as new index
#inplace actually removes orignal index and in place that puts new index
copy.head()

                  area  population  density  gender ratio          zone
states
Uttar Pradesh   240928   199812341      828         0.879  central zone
Maharashtra     307713   112372972      365         0.878  western zone
Bihar            94163   103804637     1102         0.916  eastern zone
West Bengal      88752    91347736     1029         0.951  eastern zone
Madhya Pradesh  308245    72597565      236         0.919  central zone

##### above table looks odd! lets fix that by removing 'states' as index name

In [31]:
copy.index  #new index

Index(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujrat',
       'Andhra Pradesh'],
      dtype='object', name='states')

In [32]:
copy.index.name=None
copy.head()

                  area  population  density  gender ratio          zone
Uttar Pradesh   240928   199812341      828         0.879  central zone
Maharashtra     307713   112372972      365         0.878  western zone
Bihar            94163   103804637     1102         0.916  eastern zone
West Bengal      88752    91347736     1029         0.951  eastern zone
Madhya Pradesh  308245    72597565      236         0.919  central zone

In [33]:
copy.index  #new index name is removed

Index(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujrat',
       'Andhra Pradesh'],
      dtype='object')

In [34]:
copy.columns  #states are not in columns

Index(['area', 'population', 'density', 'gender ratio', 'zone'], dtype='object')

##### lets redo! states as one of the columns as it was orignally

In [35]:
copy.index.name='states'  #index name is set as states
copy.index

Index(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujrat',
       'Andhra Pradesh'],
      dtype='object', name='states')

In [36]:
copy.reset_index(inplace=True)
copy.head()

           states    area  population  density  gender ratio          zone
0   Uttar Pradesh  240928   199812341      828         0.879  central zone
1     Maharashtra  307713   112372972      365         0.878  western zone
2           Bihar   94163   103804637     1102         0.916  eastern zone
3     West Bengal   88752    91347736     1029         0.951  eastern zone
4  Madhya Pradesh  308245    72597565      236         0.919  central zone

##### basic descriptive analytics on dataframe

In [37]:
descriptive_analytics=copy.describe()  #
descriptive_analytics

                area    population      density  gender ratio
count      10.000000  1.000000e+01    10.000000     10.000000
mean   206288.100000  8.915964e+07   524.600000      0.902600
std     91137.709844  4.369534e+07   338.716269      0.032793
min     88752.000000  4.938680e+07   201.000000      0.854000
25%    138285.500000  6.300328e+07   304.250000      0.878250
50%    193907.500000  7.236826e+07   342.000000      0.913500
75%    291016.750000  1.006904e+08   759.750000      0.918750
max    342239.000000  1.998123e+08  1102.000000      0.951000

### 2.2.4 Alignment
##### Alignment provides automatic correlation of related values in multiple Series objects based upon index labels.

#### 2.2.3.1 series alignments via index

In [38]:
series2=pd.Series([2,8,6,4,10], index=['a','d','c','b','e'])   # index name 'd' and 'b' are not in order along with values
series3=pd.Series([3,6,9,12,15], index=['a','b','c','d','e'])  # index in order
print("series2\n{} \n\n\n series3\n{}".format(series2,series3))

series2
a     2
d     8
c     6
b     4
e    10
dtype: int64


 series3
a     3
b     6
c     9
d    12
e    15
dtype: int64

##### index is auto aligned in result

In [39]:
series2+series3   #pandas matched each variable in each series by index names, added those values, and returned us the sum for each index

a     5
b    10
c    15
d    20
e    25
dtype: int64

In [40]:
series2*series3

a      6
b     24
c     54
d     96
e    150
dtype: int64

#### 2.2.3.1 Dataframe alignment via index

#####  while making dataframe from series its automatically alligned

In [41]:
d1 = {'one': pd.Series([2,6,4], index=['p', 'r', 'q']),  #index 'r','q' not in order along with values
     'two': pd.Series([2, 3, 4, 5], index=['p', 'q', 'r', 's'])}
dframe2=pd.DataFrame(d1)
dframe2

   one  two
p  2.0    2
q  4.0    3
r  6.0    4
s  NaN    5

In [42]:
d2 = {'two': pd.Series([6,7,8,9], index=['p', 'r', 'q', 's']),
      'one': pd.Series([3,6,9], index=['p', 'r', 'q']),
     'three':pd.Series([11,12,13,14,15],index=['p', 'r', 'q', 's','t'])}
dframe3=pd.DataFrame(d2)
dframe3

   two  one  three
p  6.0  3.0     11
q  8.0  9.0     13
r  7.0  6.0     12
s  9.0  NaN     14
t  NaN  NaN     15

In [43]:
dframe2+dframe3 #wherever index didn't match in both frames were assigned NaN

    one  three   two
p   5.0    NaN   8.0
q  13.0    NaN  11.0
r  12.0    NaN  11.0
s   NaN    NaN  14.0
t   NaN    NaN   NaN

### 2.2.5 Selection
##### 1. iloc[ ] --- integer_Location
##### 2. loc[ ] ---- name_Location
##### 3. at[ ]  ----- name_Location (same as loc)

##### 2.2.5.1 iloc [ row_index, column_index ] only takes integer values as inputs for selecting a value

In [44]:
copy.head(4)

          states    area  population  density  gender ratio          zone
0  Uttar Pradesh  240928   199812341      828         0.879  central zone
1    Maharashtra  307713   112372972      365         0.878  western zone
2          Bihar   94163   103804637     1102         0.916  eastern zone
3    West Bengal   88752    91347736     1029         0.951  eastern zone

In [45]:
copy.iloc[2] #since data frames are made of series it gives entire row as output

states                 Bihar
area                   94163
population         103804637
density                 1102
gender ratio           0.916
zone            eastern zone
Name: 2, dtype: object

##### if  we only want a column then not possible!

In [46]:
copy.iloc[,[5]]

SyntaxError: invalid syntax (<ipython-input-46-31f8dc1962ac>, line 1)

In [47]:
copy.iloc[[],[5]] #

Empty DataFrame
Columns: [zone]
Index: []

###### intrestingly it returned column names instead of entire column like we got rows !!!  therefore we can get an intuition of internal structure of dataframe i.e each rows are stacked one above other rather than columns are are joined vertically .... simply  to say data frame are like book shelf  each rows/racks can be thought as a series. And a bigger series is holding them together

In [48]:
copy.iloc[[5]]

       states    area  population  density  gender ratio           zone
5  Tamil Nadu  130058    72138958      555         0.911  southern zone

In [49]:
copy.iloc[[3,5,9]]

           states    area  population  density  gender ratio           zone
3     West Bengal   88752    91347736     1029         0.951   eastern zone
5      Tamil Nadu  130058    72138958      555         0.911  southern zone
9  Andhra Pradesh  162968    49386799      303         0.918  southern zone

In [50]:
copy.iloc[3,1]

88752

In [51]:
copy.iloc[[3,5,9],[1,3,5]]

     area  density           zone
3   88752     1029   eastern zone
5  130058      555  southern zone
9  162968      303  southern zone

In [52]:
copy.iloc[3,['area']]  #coulmn names cannot be used with iloc it needs integer location

IndexError: .iloc requires numeric indexers, got ['area']

##### 2.2.5.1 loc [ row_name , column_name ]  takes names as inputs for selecting a value

In [53]:
copy.loc[3,['area']]

area    88752
Name: 3, dtype: object

In [54]:
copy.loc[[3,4],['area','density','zone']]

     area  density          zone
3   88752     1029  eastern zone
4  308245      236  central zone

In [55]:
copy.loc[[3,5,9],[1,3,5]] #intiger index cannot be used with loc it needs assigned names

KeyError: "None of [Int64Index([1, 3, 5], dtype='int64')] are in the [columns]"

##### 2.2.5.1 at [row, column]  ----get only single value in a DataFrame or Series.

In [56]:
copy.at[3,'area']

88752

In [57]:
copy.at[[3,4],['area','density','zone']]

ValueError: At based indexing on an integer index can only have integer indexers

### 2.3 Reindexing-- Index once declared cannot bge changed! 
therefore reindexing()

In [58]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [59]:
ser=ser.reindex(['three','four','five','one']) #The value corresponding to the label ‘two’ has been dropped and a new label ‘five’ is present in the Series
ser

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [61]:
copy.to_csv(r'data_set/part13.csv')

In [60]:
!nvidia-smi

Sat Aug 15 23:29:26 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 451.67       Driver Version: 451.67       CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX 1050   WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   39C    P8    N/A /  N/A |     77MiB /  4096MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+