# learning python libraies PART 16

aNAND tIRKEY

In [1]:
import numpy as np
import platform
import matplotlib as mpl                   #importing libraries
import matplotlib.pylab as plt
print(platform.python_version())
print(np.__version__)
print(mpl.__version__)
print(plt.__version__)

3.7.4
1.18.1
3.1.3
1.18.1

In [2]:
import pandas as pd                   #importing library
print(pd.__version__)

1.0.0

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.0
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.1.0.post20200127
Cython           : 0.29.14
pytest           : 5.3.5
hypothesis       : 5.4.1
sphinx           : 2.3.1
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

In [4]:
df=pd.read_csv('data_set/part14.csv')  #importing Data Set
df

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420 Billion USD
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180 Billion USD
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD
6,Rajasthan,342239.0,68621012.0,201.0,0.861,northern zone,130 Billion USD
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
8,Gujrat,196024.0,60383628.0,308.0,0.854,western zone,240 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

# 1. Fancy Indexing
##### It means passing an array of indices to access multiple array elements at once.
##### Its a feature of numpy

In [5]:
rand = np.random.RandomState(42)
x = rand.randint(100, size=10)
print(x)

[51 92 14 71 60 20 82 86 74 74]

In [6]:
[x[3], x[7], x[2]]

[71, 86, 14]

In [7]:
df.head(3)

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420 Billion USD
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD

In [8]:
df['States'][1]  #df['States'] is a series and [1] is fancy index

'Maharashtra'

In [9]:
df['States'][1],df['States'][2],df['States'][5]  #df['States'] is a series and [1] is fancy index

('Maharashtra', 'Bihar', 'Tamil Nadu')

# 2. Boolean Indexing
##### In boolean indexing, we will select subsets of data based on the actual values of the data in the DataFrame and not on their row/column labels or integer locations. In boolean indexing, we use a boolean vector to filter the data.
##### During filtering we use boolean indexing.

In [10]:
filt=df.Zone=='southern zone'
filt #this will act as index for filtering

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
8    False
9     True
Name: Zone, dtype: bool

In [11]:
df.loc[filt] #where ever the boolen value was true in filter those index were selected

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

##### Doing it manually

In [12]:
df[[False,False,False,False,False,True, False, True, False,True]]

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

##### we can use multiple filters using conditional operators 
##### Thus we use multiple boolean indexes with conditional operators

In [13]:
filt2=df['Area']>140000
filt2

0     True
1     True
2    False
3    False
4     True
5    False
6     True
7     True
8     True
9     True
Name: Area, dtype: bool

In [14]:
df.loc[filt & filt2]

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

##### Doing it manually

In [15]:
(df[[False,False,False,False,False,True, False, True, False,True]]).loc[[False,True,True]]

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

# 3. multi_Indexing or Hierarchical indexing
##### DataFrame will have two or more dimensions that can be used to identify every row
### while grouping  we leverage multi Indexing
### 3.1 creating multi Index

In [16]:
df

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420 Billion USD
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180 Billion USD
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD
6,Rajasthan,342239.0,68621012.0,201.0,0.861,northern zone,130 Billion USD
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD
8,Gujrat,196024.0,60383628.0,308.0,0.854,western zone,240 Billion USD
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD

In [17]:
df.index.names #gives the index names

FrozenList([None])

In [18]:
update=pd.Series([1,1,1,2,2,1,1,2,2,3], name='id',dtype=int)  # this will be our 2nd index
update

0    1
1    1
2    1
3    2
4    2
5    1
6    1
7    2
8    2
9    3
Name: id, dtype: int32

In [19]:
df['Id']=update
df

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP,Id
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD,1
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420 Billion USD,1
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD,1
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180 Billion USD,2
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD,2
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD,1
6,Rajasthan,342239.0,68621012.0,201.0,0.861,northern zone,130 Billion USD,1
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD,2
8,Gujrat,196024.0,60383628.0,308.0,0.854,western zone,240 Billion USD,2
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD,3

In [20]:
multi_index= df.set_index(['Zone','Id'])  #creating multiple index
multi_index

                          States      Area   Population  Density  \
Zone          Id
central zone  1    Uttar Pradesh  240928.0  199812341.0    828.0
western zone  1      Maharashtra  307713.0  112372972.0    365.0
eastern zone  1            Bihar   94163.0  103804637.0   1102.0
              2      West Bengal   88752.0   91347736.0   1029.0
central zone  2   Madhya Pradesh  308245.0   72597565.0    236.0
southern zone 1       Tamil Nadu  130058.0   72138958.0    555.0
northern zone 1        Rajasthan  342239.0   68621012.0    201.0
southern zone 2        Karnataka  191791.0   61130704.0    319.0
western zone  2           Gujrat  196024.0   60383628.0    308.0
southern zone 3   Andhra Pradesh  162968.0   49386799.0    303.0

                  Gender_Ratio      Nominal GDP
Zone          Id
central zone  1          0.879  220 Billion USD
western zone  1          0.878  420 Billion USD
eastern zone  1          0.916   80 Billion USD
              2          0.951  180 Billion USD
central zone  2          0.919  130 Billion USD
southern zone 1          0.911  260 Billion USD
northern zone 1          0.861  130 Billion USD
southern zone 2          0.939  220 Billion USD
western zone  2          0.854  240 Billion USD
southern zone 3          0.918  150 Billion USD

In [21]:
multi_index.index.names   #now we have two index

FrozenList(['Zone', 'Id'])

##### it doesnot look pretty!! because we missed alignment in most part except eastern zone
##### therefore we use sort then multi index

In [22]:
df.sort_values(by='Zone',ascending=True).head(4) #sorted based on zones

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP,Id
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD,1
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD,2
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD,1
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180 Billion USD,2

###### eg1 : zones are auto aligned

In [23]:
multi_index= (df.sort_values(by='Zone',ascending=True)).set_index(['Zone','Id'])
multi_index

                          States      Area   Population  Density  \
Zone          Id
central zone  1    Uttar Pradesh  240928.0  199812341.0    828.0
              2   Madhya Pradesh  308245.0   72597565.0    236.0
eastern zone  1            Bihar   94163.0  103804637.0   1102.0
              2      West Bengal   88752.0   91347736.0   1029.0
northern zone 1        Rajasthan  342239.0   68621012.0    201.0
southern zone 1       Tamil Nadu  130058.0   72138958.0    555.0
              2        Karnataka  191791.0   61130704.0    319.0
              3   Andhra Pradesh  162968.0   49386799.0    303.0
western zone  1      Maharashtra  307713.0  112372972.0    365.0
              2           Gujrat  196024.0   60383628.0    308.0

                  Gender_Ratio      Nominal GDP
Zone          Id
central zone  1          0.879  220 Billion USD
              2          0.919  130 Billion USD
eastern zone  1          0.916   80 Billion USD
              2          0.951  180 Billion USD
northern zone 1          0.861  130 Billion USD
southern zone 1          0.911  260 Billion USD
              2          0.939  220 Billion USD
              3          0.918  150 Billion USD
western zone  1          0.878  420 Billion USD
              2          0.854  240 Billion USD

###### eg2: it didnt align because ['Zone','Id']..... Id should be first

In [24]:
(df.sort_values(by='Id',ascending=True)).set_index(['Zone','Id'])  #sort based on Id

,,States,Area,Population,Density,Gender_Ratio,Nominal GDP
Zone,Id,,,,,,
central zone,1,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,220 Billion USD
western zone,1,Maharashtra,307713.0,112372972.0,365.0,0.878,420 Billion USD
eastern zone,1,Bihar,94163.0,103804637.0,1102.0,0.916,80 Billion USD
southern zone,1,Tamil Nadu,130058.0,72138958.0,555.0,0.911,260 Billion USD
northern zone,1,Rajasthan,342239.0,68621012.0,201.0,0.861,130 Billion USD
eastern zone,2,West Bengal,88752.0,91347736.0,1029.0,0.951,180 Billion USD
central zone,2,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,130 Billion USD
southern zone,2,Karnataka,191791.0,61130704.0,319.0,0.939,220 Billion USD
western zone,2,Gujrat,196024.0,60383628.0,308.0,0.854,240 Billion USD
southern zone,3,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,150 Billion USD

In [25]:
(df.sort_values(by='Id',ascending=True)).set_index(['Id','Zone'])  #good enough

                          States      Area   Population  Density  \
Id Zone
1  central zone    Uttar Pradesh  240928.0  199812341.0    828.0
   western zone      Maharashtra  307713.0  112372972.0    365.0
   eastern zone            Bihar   94163.0  103804637.0   1102.0
   southern zone      Tamil Nadu  130058.0   72138958.0    555.0
   northern zone       Rajasthan  342239.0   68621012.0    201.0
2  eastern zone      West Bengal   88752.0   91347736.0   1029.0
   central zone   Madhya Pradesh  308245.0   72597565.0    236.0
   southern zone       Karnataka  191791.0   61130704.0    319.0
   western zone           Gujrat  196024.0   60383628.0    308.0
3  southern zone  Andhra Pradesh  162968.0   49386799.0    303.0

                  Gender_Ratio      Nominal GDP
Id Zone
1  central zone          0.879  220 Billion USD
   western zone          0.878  420 Billion USD
   eastern zone          0.916   80 Billion USD
   southern zone         0.911  260 Billion USD
   northern zone         0.861  130 Billion USD
2  eastern zone          0.951  180 Billion USD
   central zone          0.919  130 Billion USD
   southern zone         0.939  220 Billion USD
   western zone          0.854  240 Billion USD
3  southern zone         0.918  150 Billion USD

### 3.2 acessing DataFrame using multi Index

#### 3.2.1 using xs()

In [26]:
multi_index.xs('central zone')

,States,Area,Population,Density,Gender_Ratio,Nominal GDP
Id,,,,,,
1,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,220 Billion USD
2,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,130 Billion USD

###### for single values

In [27]:
multi_index.xs(['central zone',1])

States            Uttar Pradesh
Area                     240928
Population          1.99812e+08
Density                     828
Gender_Ratio              0.879
Nominal GDP     220 Billion USD
Name: (central zone, 1), dtype: object

#### 3.2.2 using loc

In [28]:
multi_index.loc['central zone']

,States,Area,Population,Density,Gender_Ratio,Nominal GDP
Id,,,,,,
1,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,220 Billion USD
2,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,130 Billion USD

##### for single values

In [29]:
multi_index.loc['central zone',1]

States            Uttar Pradesh
Area                     240928
Population          1.99812e+08
Density                     828
Gender_Ratio              0.879
Nominal GDP     220 Billion USD
Name: (central zone, 1), dtype: object

#### 3.2.3 using iloc

In [30]:
multi_index

                          States      Area   Population  Density  \
Zone          Id
central zone  1    Uttar Pradesh  240928.0  199812341.0    828.0
              2   Madhya Pradesh  308245.0   72597565.0    236.0
eastern zone  1            Bihar   94163.0  103804637.0   1102.0
              2      West Bengal   88752.0   91347736.0   1029.0
northern zone 1        Rajasthan  342239.0   68621012.0    201.0
southern zone 1       Tamil Nadu  130058.0   72138958.0    555.0
              2        Karnataka  191791.0   61130704.0    319.0
              3   Andhra Pradesh  162968.0   49386799.0    303.0
western zone  1      Maharashtra  307713.0  112372972.0    365.0
              2           Gujrat  196024.0   60383628.0    308.0

                  Gender_Ratio      Nominal GDP
Zone          Id
central zone  1          0.879  220 Billion USD
              2          0.919  130 Billion USD
eastern zone  1          0.916   80 Billion USD
              2          0.951  180 Billion USD
northern zone 1          0.861  130 Billion USD
southern zone 1          0.911  260 Billion USD
              2          0.939  220 Billion USD
              3          0.918  150 Billion USD
western zone  1          0.878  420 Billion USD
              2          0.854  240 Billion USD

Uttar Pradesh has... integer index 0  
Madhya Pradesh has... integer index 1  
Bihar has integer... index 2  
West Bengal has... integer index 2   and so on....

In [31]:
multi_index.iloc[0]

States            Uttar Pradesh
Area                     240928
Population          1.99812e+08
Density                     828
Gender_Ratio              0.879
Nominal GDP     220 Billion USD
Name: (central zone, 1), dtype: object

In [32]:
multi_index.iloc[1]

States           Madhya Pradesh
Area                     308245
Population          7.25976e+07
Density                     236
Gender_Ratio              0.919
Nominal GDP     130 Billion USD
Name: (central zone, 2), dtype: object

In [33]:
multi_index.iloc[4]

States                Rajasthan
Area                     342239
Population           6.8621e+07
Density                     201
Gender_Ratio              0.861
Nominal GDP     130 Billion USD
Name: (northern zone, 1), dtype: object

# 4.Grouping 
Split--->aply function -->combine Result

##### what filter did in "1. Boolean Indexing", we can use groupby() ---for creating the group
##### get_group --- to call the group

In [ ]:
 ![title](pictures/img3.gif "A visual representation of a groupby operation")

In [34]:
df

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP,Id
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD,1
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420 Billion USD,1
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80 Billion USD,1
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180 Billion USD,2
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD,2
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260 Billion USD,1
6,Rajasthan,342239.0,68621012.0,201.0,0.861,northern zone,130 Billion USD,1
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220 Billion USD,2
8,Gujrat,196024.0,60383628.0,308.0,0.854,western zone,240 Billion USD,2
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150 Billion USD,3

### 4.1 groupby()

In [35]:
zone_group=df.groupby(['Zone'])  #grouping based on zones
zone_group

In [36]:
zone_group.get_group('central zone')  #similar to running a filter

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP,Id
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220 Billion USD,1
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130 Billion USD,2

### 4.2 grouping and multi indexing intuition

In [37]:
zone_group['Id'].value_counts()    #zone is 1st index, Id is 2nd index

Zone           Id
central zone   1     1
               2     1
eastern zone   1     1
               2     1
northern zone  1     1
southern zone  1     1
               2     1
               3     1
western zone   1     1
               2     1
Name: Id, dtype: int64

In [38]:
zone_group['Nominal GDP'].value_counts()

Zone           Nominal GDP
central zone   130 Billion USD    1
               220 Billion USD    1
eastern zone   180 Billion USD    1
               80 Billion USD     1
northern zone  130 Billion USD    1
southern zone  150 Billion USD    1
               220 Billion USD    1
               260 Billion USD    1
western zone   240 Billion USD    1
               420 Billion USD    1
Name: Nominal GDP, dtype: int64

# 5. grouping and aggregation

### 5.1 sum()  # Find total population in each zone?

In [39]:
zone_group['Population'].sum()

Zone
central zone     272409906.0
eastern zone     195152373.0
northern zone     68621012.0
southern zone    182656461.0
western zone     172756600.0
Name: Population, dtype: float64

### 5.2  Find percentage population of each zone?

In [40]:
total_population=sum(zone_group['Population'].sum())  #total population
total_population

891596352.0

In [41]:
zone_group['Population'].sum()/total_population  #population share of each zone in float value

Zone
central zone     0.305531
eastern zone     0.218880
northern zone    0.076964
southern zone    0.204865
western zone     0.193761
Name: Population, dtype: float64

In [42]:
(zone_group['Population'].sum()/total_population)*100 #final answer: percentage population of each zone

Zone
central zone     30.553053
eastern zone     21.887973
northern zone     7.696421
southern zone    20.486452
western zone     19.376100
Name: Population, dtype: float64

### 5.3 Average gdp of each zone

In [43]:
zone_group['Nominal GDP'].mean()  #error beacuse 'Nominal GDP' has character as well numerical value

DataError: No numeric types to aggregate

### Note: therefore we need to clean the data first 
##### by cleaning we mean to remove " Billion USD" except numerical part ....cannot do that to grouped data... must do it in orignal data frame

In [44]:
df['Nominal GDP']=df['Nominal GDP'].str.replace(" Billion USD","")
df

,States,Area,Population,Density,Gender_Ratio,Zone,Nominal GDP,Id
0,Uttar Pradesh,240928.0,199812341.0,828.0,0.879,central zone,220,1
1,Maharashtra,307713.0,112372972.0,365.0,0.878,western zone,420,1
2,Bihar,94163.0,103804637.0,1102.0,0.916,eastern zone,80,1
3,West Bengal,88752.0,91347736.0,1029.0,0.951,eastern zone,180,2
4,Madhya Pradesh,308245.0,72597565.0,236.0,0.919,central zone,130,2
5,Tamil Nadu,130058.0,72138958.0,555.0,0.911,southern zone,260,1
6,Rajasthan,342239.0,68621012.0,201.0,0.861,northern zone,130,1
7,Karnataka,191791.0,61130704.0,319.0,0.939,southern zone,220,2
8,Gujrat,196024.0,60383628.0,308.0,0.854,western zone,240,2
9,Andhra Pradesh,162968.0,49386799.0,303.0,0.918,southern zone,150,3

In [45]:
df.dtypes

States           object
Area            float64
Population      float64
Density         float64
Gender_Ratio    float64
Zone             object
Nominal GDP      object
Id                int32
dtype: object

##### Nominal GDP -datatype is object need to covert to integer

In [46]:
df['Nominal GDP']=df['Nominal GDP'].astype('int')
df.dtypes

States           object
Area            float64
Population      float64
Density         float64
Gender_Ratio    float64
Zone             object
Nominal GDP       int32
Id                int32
dtype: object

In [47]:
cleaned_zone_group=df.groupby(['Zone']) #grouping clead data based on zones
cleaned_zone_group

In [48]:
cleaned_zone_group['Nominal GDP'].value_counts() #gdp of each zone

Zone           Nominal GDP
central zone   130            1
               220            1
eastern zone   80             1
               180            1
northern zone  130            1
southern zone  150            1
               220            1
               260            1
western zone   240            1
               420            1
Name: Nominal GDP, dtype: int64

In [49]:
cleaned_zone_group['Nominal GDP'].mean()   #Average gdp of each zone

Zone
central zone     175
eastern zone     130
northern zone    130
southern zone    210
western zone     330
Name: Nominal GDP, dtype: int32

### 5.3 median gdp of each zone

##### The median is the middle number in a sorted, ascending or descending, list of numbers and can be more descriptive of that data set than the average. The median is sometimes used as opposed to the mean when there are outliers in the sequence that might skew the average of the values.

In [50]:
cleaned_zone_group['Nominal GDP'].median()  #mean and median values are same for every zone!!!

Zone
central zone     175
eastern zone     130
northern zone    130
southern zone    220
western zone     330
Name: Nominal GDP, dtype: int32

##### mean and median values are same because   If there is an odd amount of numbers, the median value is the number that is in the middle, with the same amount of numbers below and above.   If there is an even amount of numbers in the list, the middle pair must be determined by adding together, and dividing by two to find the median value.

### 5.4 using mean and mode together........... using agg()

In [51]:
cleaned_zone_group['Nominal GDP'].agg(['median','mean'])

               median  mean
Zone
central zone      175   175
eastern zone      130   130
northern zone     130   130
southern zone     220   210
western zone      330   330

# 6. Grouping multiple columns

In [52]:
data1 = {"Team": ["Red Sox", "Red Sox", "Red Sox", "Red Sox", "Red Sox", "Red Sox", "Yankees", "Yankees", "Yankees", "Yankees", "Yankees", "Yankees"],
        "Pos": ["Pitcher", "Pitcher", "Pitcher", "Not Pitcher", "Not Pitcher", "Not Pitcher", "Pitcher", "Pitcher", "Pitcher", "Not Pitcher", "Not Pitcher", "Not Pitcher"],
        "Age": [24, 28, 40, 22, 29, 33, 31, 26, 21, 36, 25, 31]}
df1 = pd.DataFrame(data1)
df1

       Team          Pos  Age
0   Red Sox      Pitcher   24
1   Red Sox      Pitcher   28
2   Red Sox      Pitcher   40
3   Red Sox  Not Pitcher   22
4   Red Sox  Not Pitcher   29
5   Red Sox  Not Pitcher   33
6   Yankees      Pitcher   31
7   Yankees      Pitcher   26
8   Yankees      Pitcher   21
9   Yankees  Not Pitcher   36
10  Yankees  Not Pitcher   25
11  Yankees  Not Pitcher   31

In [53]:
grouped_multiple = df1.groupby(['Team', 'Pos'])
grouped_multiple

In [54]:
multiple_grouped_data=grouped_multiple.agg(['mean', 'min', 'max']) #automatically takes numerical columns to find aggrigate
multiple_grouped_data #auto alignes  the dataset

                           Age
                          mean min max
Team    Pos
Red Sox Not Pitcher  28.000000  22  33
        Pitcher      30.666667  24  40
Yankees Not Pitcher  30.666667  25  36
        Pitcher      26.000000  21  31

##### auto alignes  the dataset

In [55]:
multiple_grouped_data.columns  = ['age_mean', 'age_min', 'age_max'] #renaming columns
multiple_grouped_data

                      age_mean  age_min  age_max
Team    Pos
Red Sox Not Pitcher  28.000000       22       33
        Pitcher      30.666667       24       40
Yankees Not Pitcher  30.666667       25       36
        Pitcher      26.000000       21       31

In [56]:
multiple_grouped_data = multiple_grouped_data.reset_index() 
multiple_grouped_data

      Team          Pos   age_mean  age_min  age_max
0  Red Sox  Not Pitcher  28.000000       22       33
1  Red Sox      Pitcher  30.666667       24       40
2  Yankees  Not Pitcher  30.666667       25       36
3  Yankees      Pitcher  26.000000       21       31

In [57]:
!nvidia-smi

Fri Aug 28 23:17:28 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 452.06       Driver Version: 452.06       CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX 1050   WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   40C    P8    N/A /  N/A |     77MiB /  4096MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+