# learning python libraies PART 11 
aNAND tIRKEY

In [1]:
import numpy as np
import platform
import matplotlib as mpl                   #importing libraries
import matplotlib.pylab as plt
print(platform.python_version())
print(np.__version__)
print(mpl.__version__)
print(plt.__version__)

3.7.4
1.18.1
3.1.3
1.18.1

### The Pandas library is core to any Data Science work in Python
Pandas arises from the need to have a specific library for analysis of the data which provides, in the simplest possible way, all the instruments for the processing of data, data extraction, and data manipulation. This Python package is designed on the basis of the NumPy library.

In [2]:
import pandas as pd                   #importing library
print(pd.__version__)                 #pandas version

1.0.0

In [3]:
pd.show_versions()                   #pandas dependency versions

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.0
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.1.0.post20200127
Cython           : 0.29.14
pytest           : 5.3.5
hypothesis       : 5.4.1
sphinx           : 2.3.1
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

# Pandas Data Structures
These data structures are designed to work with relational data(labeled data), thus allows to manage
data with features similar to those designed for SQL relational databases and Excel spreadsheets

##### Pandas has two main data structures. :  Series and  Data Frames

### Series
    • Think of Series as a single column in an Excel sheet. 
    • It Represents one-dimensional array of indexed data.
    • Can hold any NumPy data type.
    • Structurally composed of two arrays associated with each other. 
    • The main array has the purpose to hold the data  to which each element is associated with a label, contained within the other array, called the "Index". 
![title](pic/img14.png "series data structure")

# 1. declaring Series

In [4]:
s1=pd.series(["one","two","three","four","five"])
s1

AttributeError: module 'pandas' has no attribute 'series'

In [5]:
s1=pd.Series(["one","two","three","four","five"])   #S of series must be in caps
s1

0      one
1      two
2    three
3     four
4     five
dtype: object

#### If index is not specified then by default pandas will assign numerical values increasing from 0 as labels.

In [6]:
s2=pd.Series(["one","two","three","four","five"], index=["a","b","c","d","e"])   #S of series must be in caps
s2

a      one
b      two
c    three
d     four
e     five
dtype: object

### 1.1 We can even use noncontiguous or nonsequential indice.

In [7]:
temp = pd.Series(['a','b','c','d','e','f','g','h'], index=[8,5,6,3,7,4,2,1])
temp

8    a
5    b
6    c
3    d
7    e
4    f
2    g
1    h
dtype: object

# 2. count of index and count of values must be equal

In [8]:
s2=pd.Series(["one","two","three","four","five"], index=["a","b","c","d","e","f"])   #cannot have index more than values
s2

ValueError: Length of passed values is 5, index implies 6.

In [9]:
s2=pd.Series(["one","two","three","four","five"], index=["a","b","c","d"])   #cannot have index less than values
s2

ValueError: Length of passed values is 5, index implies 4.

# 3. displaying series contents

In [10]:
s2.values     #displaying only values

array(['one', 'two', 'three', 'four', 'five'], dtype=object)

In [11]:
s2.index      #displaying only index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

# 4. selecting elements

### 4.1 using position(key)

In [12]:
s2[1]

'two'

### 4.2 using index

In [13]:
s2["b"]

'two'

### 4.3 selecting multiple elemnts

In [14]:
s2[1:4]   #just like numpy

b      two
c    three
d     four
dtype: object

In [15]:
s2["b":"d"]

b      two
c    three
d     four
dtype: object

### 4.4 selecting more than one but specific elements

### 4.4.1 selecting multiple specific elements using keys(positions)

In [16]:
s2[[0,2,4]]

a      one
c    three
e     five
dtype: object

### 4.4.2 selecting multiple specific elements using keys(positions)

In [17]:
s2[["a","c","d"]]

a      one
c    three
d     four
dtype: object

# 5. assigning new values

In [18]:
s2[1]="six"
s2[1]

'six'

In [19]:
s2["b"]="seven"
s2["b"]

'seven'

In [20]:
s2[1:4]=["eight","nine","ten"]
s2

a      one
b    eight
c     nine
d      ten
e     five
dtype: object

In [21]:
s2["b":"d"]=["two","three","four"]
s2

a      one
b      two
c    three
d     four
e     five
dtype: object

In [22]:
s2[[0,2,4]]=["eleven","twelve","thirteen"]
s2

a      eleven
b         two
c      twelve
d        four
e    thirteen
dtype: object

In [23]:
s2[["a","c","e"]]=["one","three","five"]
s2

a      one
b      two
c    three
d     four
e     five
dtype: object

# 6. defining series from numpy arrays

In [24]:
values=np.array(["one","two","three","four","five"]) 
index=np.array(["a","b","c","d","e"])
print("values={}; index={}".format(values,index))

values=['one' 'two' 'three' 'four' 'five']; index=['a' 'b' 'c' 'd' 'e']

In [25]:
s3=pd.Series(data=values, index=index)
s3

a      one
b      two
c    three
d     four
e     five
dtype: object

#####  note: the values contained within the NumPy arrays are  copied, not passed by reference. 
case is diffrent in 7. defining series from other series

In [26]:
values[4]="NULL"
values

array(['one', 'two', 'three', 'four', 'NULL'], dtype='<U5')

In [27]:
s3

a      one
b      two
c    three
d     four
e     five
dtype: object

# 7. defining series from other series

In [28]:
s4=pd.Series(s3)
s4

a      one
b      two
c    three
d     four
e     five
dtype: object

##### The values contained within the original Series are not copied, but are passed by reference. so any change in orignal series will be reflected in new series also.

In [29]:
s3[2]="NULL"
s3

a     one
b     two
c    NULL
d    four
e    five
dtype: object

In [30]:
s4

a     one
b     two
c    NULL
d    four
e    five
dtype: object

##### same is for array if done like this

In [31]:
arr = np.array(["one","two","three","four","five"])
arr

array(['one', 'two', 'three', 'four', 'five'], dtype='<U5')

In [32]:
s5=pd.Series(arr)
s5

0      one
1      two
2    three
3     four
4     five
dtype: object

In [33]:
arr[3]="NULL"
arr

array(['one', 'two', 'three', 'NULL', 'five'], dtype='<U5')

In [34]:
s5

0      one
1      two
2    three
3     four
4     five
dtype: object

# 8. Filtering Values

In [35]:
np.random.seed(0)
val=np.random.randint(0,40,(10))
val

array([ 0,  3,  3, 39,  9, 19, 21, 36, 23,  6])

In [36]:
s6=pd.Series(val)
s6

0     0
1     3
2     3
3    39
4     9
5    19
6    21
7    36
8    23
9     6
dtype: int32

In [37]:
s6[s6>15]   #filtering ot elements greater than 15.

3    39
5    19
6    21
7    36
8    23
dtype: int32

# 9. Simple Mathematical Operations

In [38]:
s6/2

0     0.0
1     1.5
2     1.5
3    19.5
4     4.5
5     9.5
6    10.5
7    18.0
8    11.5
9     3.0
dtype: float64

In [39]:
np.log(s6)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0        -inf
1    1.098612
2    1.098612
3    3.663562
4    2.197225
5    2.944439
6    3.044522
7    3.583519
8    3.135494
9    1.791759
dtype: float64

# 10. Counting Duplicates

In [40]:
duplicates = pd.Series(['a','b','c','a','c','a','b','a','b','a'])
duplicates

0    a
1    b
2    c
3    a
4    c
5    a
6    b
7    a
8    b
9    a
dtype: object

In [41]:
duplicates.unique()   #outputs all unique values

array(['a', 'b', 'c'], dtype=object)

In [42]:
duplicates.value_counts()    #counts occurrences of unique values

a    5
b    3
c    2
dtype: int64

In [43]:
duplicates.isin(['d'])    #searches for 'd' value in series and returs boolean value

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [44]:
duplicates.isin(['b'])    #searches for 'b' value in series and returs boolean value

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [45]:
duplicates.isin(['b','c'])    #searches for 'b' or 'c' in series and returs boolean value not both

0    False
1     True
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

# 11. sorting  non-contiguous indices

In [46]:
temp = pd.Series(['a','b','c','d','e','f','g','h'], index=[8,5,6,3,7,4,2,1])
temp

8    a
5    b
6    c
3    d
7    e
4    f
2    g
1    h
dtype: object

In [47]:
temp.sort_index()

1    h
2    g
3    d
4    f
5    b
6    c
7    e
8    a
dtype: object

#### sort by values

In [48]:
temp.sort_values()

8    a
5    b
6    c
3    d
7    e
4    f
2    g
1    h
dtype: object

# 12. NaN(aka Not a Number )

##### NaN is used within pandas data structures to indicate the presence of an empty field or not definable numerical values.

In [49]:
s7 = pd.Series([4,6,np.NaN,7,9,np.NaN])
s7

0    4.0
1    6.0
2    NaN
3    7.0
4    9.0
5    NaN
dtype: float64

##### identification of NaN values in Series
##### 1. isnull()

In [50]:
s7.isnull()    #returns true where there is NaN values

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

##### 2. notnull()

In [51]:
s7.notnull()   #returns false where there is NaN values

0     True
1     True
2    False
3     True
4     True
5    False
dtype: bool

# 13. filtering NaN values

In [52]:
s7[s7.notnull()]    #filters indexes where values are not NaN values.

0    4.0
1    6.0
3    7.0
4    9.0
dtype: float64

In [53]:
s7[s7.isnull()]    #filters indexes where values which are NaN.

2   NaN
5   NaN
dtype: float64

In [54]:
!nvidia-smi

Mon Jul 13 23:14:09 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 446.14       Driver Version: 446.14       CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX 1050   WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   42C    P8    N/A /  N/A |     77MiB /  4096MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU                  PID   Type   Process name                  GPU Memory |
|                                                                  Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+